body{
    height: 100vh;
    margin: 0;
    background-image: radial-gradient(#e0e1dd,#778da9, #415a77);
    display: flex;
    justify-content: center;
    align-items: center;
}
#Self Introduction{
    background-color: rgba(255, 255, 255, 0.8);
    width: 33%;
    height: 33%;
}