body{
    min-height: 100vh;
    margin: 0;
    background-image: radial-gradient(#e0e1dd,#778da9, #415a77);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#SelfIntroduction{
    width: 33vh;
    max-height:33vh;
}
#Selfintroduction h1{
    text-align: center;
}
#SelfIntroduction p{
    white-space: Normal;
    Word-wrap: Normal;
    overflow-wrap: break-word;
}